@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch");

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  margin-top: 30px;
  min-height: 500px;
}

.maxwidth500 {
  max-width: 600px;
  width: 100%;
}

.maxwidth500 > h3 {
  font-size: 10vw;
  font-weight: 400;
}

.how_it_works {
  font-size: 5vw;
  font-weight: 400;
  border-bottom-color: #743811;
  text-align: center;
  border-bottom-style: solid;
}

.maxwidth500 > div > div > h4 {
  font-size: 4vw;
  font-weight: 300;
  margin: 50px;
  text-align: center;
}

li {
  margin-bottom: 15px;
}

input {
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  width: 100%;
}

select {
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  width: 100%;
}

input[type="submit"] {
  /* And that ain't all of them... */
  width: 100%;
  color: white;
  background-color: #b4886b;
  font-weight: 900;
  text-transform: uppercase;
}

input[type="submit"]:disabled {
  color: rgba(255, 255, 255, 0.596);
  background-color: gray;
}

input[type="checkbox"] {
  box-shadow: none;
}

label {
  color: #b4886b;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
}
label:after {
  content: ": ";
}

/* NAVIGATION STYLES */
.topnav {
  display: flex;
  background-color: #743811;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.flex {
  flex-grow: 1;
}

/* STYLING FOR BUTTONS */
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 4px;
  cursor: pointer;
}
.button-color {
  background-color: white;
  color: black;
  border: 2px solid #856a14a4;
  max-height: 100px;
}

/* LANDING PAGE IMAGE */

.landing-image-container {
  position: absolute;
  width: 100%;
  z-index: -100;
}
.landing-page-image {
  color: white;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.image-backdrop {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: hsla(14, 100%, 5%, 0.527);
  position: absolute;
}

.space-evenly {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  justify-items: center;
  width: 100%;
  margin-top: 30px;
}

.text-2 {
  font-size: 2vw;
}

.white {
  color: white;
}

.slim-header {
  font-weight: 300;
}

ol {
  color: #ccc;
  list-style-type: none;
}

ol li {
  position: relative;
  font: bold italic 45px/1.5 Helvetica, Verdana, sans-serif;
  margin-bottom: 20px;
}

li p {
  font: 14px/1.5 Helvetica, sans-serif;
  padding-left: 60px;
  color: #555;
  padding-top: 20px;
}

span {
  position: absolute;
}

.office-header {
  font: lighter italic 45px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0px;
  text-transform: uppercase;
}

.contestants-names {
  transition: box-shadow 0.5s; /* Animation */
  padding-right: 5px;
}

.contestants-names:hover {
  border-color: hsla(14, 100%, 5%, 0.527);

  box-shadow: 1px 5px 12px 2px #515151;
}

.avatar {
  width: 70px;
  height: 70px;
  position: relative;
}

.avatar-image {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
}

/* CARDS */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* GRID */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.212);
  padding: 20px;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

/* for the alert box */

.alert {
  padding: 20px;
  background-color: hsla(85, 100%, 33%, 0.685);
  color: white;
  width: 50%;
  right: 0;
  left: 0;
  margin: auto;
  position: absolute;
  top: 60px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.positiontitle {
  font-family: "Bowlby One SC", cursive;
  margin-bottom: 20px;
}

.officename {
  margin: 10px;
  text-decoration: underline;
  font-family: "Cabin Sketch", cursive;
}

.candidatesinfo {
  margin: 20px;
  margin-left: 35px;
}

.votecontainer {
  display: flex; /* or inline-flex */
  flex-direction: row;
  height: 150px;
  justify-content: space-around;
  align-items: center;
}
