* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
  height: 500px;
  margin-top: 30px;
}

.maxwidth500 {
  max-width: 600px;
  width: 100%;
}

input {
  border: 5px solid white;
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1),
    0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 0 10px 0;
  width: 100%;
}

input[type="submit"] {
  /* And that ain't all of them... */
  width: 100%;
  color: white;
  background-color: #b4886b;
  font-weight: 900;
  text-transform: uppercase;
}

input[type="submit"]:disabled {
  color: rgba(255, 255, 255, 0.596);
  background-color: gray;
}

input[type="checkbox"] {
  box-shadow: none;
}

label {
  color: #b4886b;
  font-weight: bold;
  display: block;
  width: 150px;
  float: left;
}
label:after {
  content: ": ";
}

/* NAVIGATION STYLES */
.topnav {
  display: flex;
  background-color: #743811;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.flex {
  flex-grow: 1;
}
